* {
    margin: 0;
    padding: 0;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(114, 235, 235);
    position: relative;
    overflow: hidden;
}

.semaforo {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espaçamento entre as luzes */
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 240px;
    height: 540px;
    padding: 10px;
    z-index: 1; 
    position: relative;
}

.luz {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 5px;
}
.acesso {
    opacity: 1; /* Luz ligada */
}

.apagado {
    opacity: 0.2; /* Luz apagada, mais escura */
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: rgb(229, 255, 0);
}

.verde {
    background-color: rgb(0, 255, 42);
}

.poste {
    background-color: black;
    width: 80px;
    height: 100vh; 
    position: absolute; 
    bottom: -100px; 
    z-index: 0; 
}